@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #163841;
    --color-secondary: #65c2cc;
    --color-terciary: #e58893;
    --color-text-dark: #163841;
    --color-text-grey: #abc6ce;
    --color-menu-bg: #6a9ca8;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-grey: #c4c4c4;
    --color-white: #ffffff;
    --color-black: #000000;


    --color-blue: #27a9e0;
    --color-dark-blue: #15639c;
    --color-white: #FFFFFF;
    --color-darkgrey: #7d8081;
    --color-grey: #bdbebf;
}


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.05rem;
    color: var(--color-text-dark);
    background-color: var(--color-text-grey);
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
ul {
    line-height: 40px;
}
ul li {
    font-size: 1.3rem;
}